# Visual Studio build artifacts
.vs/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.recipe
*.vcxproj.user
ipch/

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.dll
*.so
*.dylib

# Misc
*.DS_Store
